@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
}

.menu .navbar-toggler {
  float: left;
  width: 30%;
  text-align: left;
  border: 1px solid transparent;
}

.menu h4 {
  font-family: "Dancing Script", cursive;
  color: white;
}

.menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu ul li {
  list-style: none;
  display: inline;
  margin: auto;
  padding: 8px 15px;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.menu ul li a {
  color: white !important;
  text-decoration: none;
  margin: 5px;
}

.menu ul li img {
  width: 25px;
  height: 27px;
}

.menu ul li button img {
  width: 35px;
  height: 35px;
}

.menu ul .account {
  margin-left: 5%;
}

.dropdown-menu {
  padding: 10px 0px !important;
  margin: 0;
}

.menuul .account .btn-group .dropdown-menu ul {
  flex-direction: column;
  border: 1px solid;
  padding: 0;
  margin: 0;
}

.menu ul .account .btn-group .dropdown-menu ul li {
  font-size: 15px;
  display: inline-block;
  padding: 0;
  margin-left: 10px;
}
.logout {
  width: 100%;
  border: 1px solid transparent;
  background: transparent;
  color: white;
  font-size: 16px;
}

@media screen and (max-width: 700px) {
  .menu ul {
    display: flex;
    flex-direction: column;
    z-index: 99;
    top: 0px;
  }

  .menu ul li {
    width: 100%;
  }

  .menu ul li:last-child {
    margin-left: 0px;
  }
}
